.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}
.login-header__div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-header__p {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  color: #666666;
  position: absolute;
  bottom: -15px;
}
.login-main {
  width: 90%;
  position: relative;
  margin-bottom: 60px;
}
.login-input {
  background: transparent;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
  padding: 20px 0px 5px 0px;
  font-size: 10pt;
  width: 100%;
  padding-bottom: 20px;
}
.login-input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.login-input:focus {
  outline: none;
  border: none;
  border-bottom: 1.5px solid #0594ff;
}
.img {
  margin-top: 5px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}
.login-main__span {
  position: absolute;
  right: 0px;
  bottom: -30px;
  color: #0594ff;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
}
.login-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.login-footer input {
  background-color: #0594ff;
  width: 90%;
  padding: 15px 0px;
  border-radius: 10px;
  color: white;
  border: none;
}
.login-footer p {
  color: rgba(0, 0, 0, 0.3);
  font-size: 13px;
}
